body {
    font-family: "Work-sans", sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
}
h1 {
    font-weight: 500;
    font-size: 35px;
}
hr {
    margin-bottom: 20px;
}
a {
    display: block;
    text-decoration: none;
    color: rgb(115, 115, 254);
    margin-bottom: 10px;
}

.container > div a {
    display: none;
}
.container > div:hover a {
    display: block;
}
